<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniCare"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".feature.auth.ui.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity giờ chỉ là màn hình bình thường -->
        <activity
            android:name=".feature.auth.ui.LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".feature.auth.ui.RegisterActivity" />
        <activity android:name=".feature.auth.ui.ForgotPasswordActivity" />
        <activity android:name=".feature.auth.ui.CreateFileActivity" />
        <activity android:name=".feature.patients.doctor.ui.DoctorListActivity" />
        <activity android:name=".feature.patients.doctor.ui.DoctorDetailActivity" />
        <activity android:name=".feature.patients.appointment.viewmodel.BookAppointmentActivity" />
        <activity android:name=".feature.patients.appointment.ui.ConfirmAppointmentActivity" />
        <activity android:name=".feature.patients.appointment.viewmodel.BookVaccineActivity" />
        <activity android:name=".feature.patients.appointment.ui.ConfirmVaccineActivity" />
        <activity android:name=".feature.patients.profile.ui.ProfileActivity" />
        <activity android:name=".feature.patients.profile.ui.EditProfileActivity" />
        <activity android:name=".feature.patients.appointment.ui.AppointmentDetailActivity" />
        <activity android:name=".feature.patients.appointment.ui.VaccineNoteActivity" />
        <activity android:name=".feature.patients.record.activity.MedicalRecordActivity" />
        <activity android:name=".feature.patients.record.activity.TreatmentPlanActivity" />
        <activity android:name=".feature.auth.ui.ChangePasswordActivity" />

    </application>

</manifest>